*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #fc5404;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.form-box{
    width: 100%;
    max-width: 550px;
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.form-box h2{
    color: #32324f;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-align: center;
}

.input-box,
label[for="corredor"] {
    margin-top: 25px;
}

.input-box span,
label[for="corredor"] {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #32324f;
    font-weight: 400;
}

.input-box input[type="text"],
.input-box input[type="email"],
.input-box input[type="password"],
select#corredor {
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border: none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
    border-radius: 5px;
}

.input-box span {
    margin-right: 10px;
}

.input-box input[type="submit"]{
    background-color: #fc5404;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
    width: 100%;
    padding: 10px;
}
.input-box input[type="submit"]:hover{
    opacity: 0.9;
}