*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container-login{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.titulo-imagem {
    color: #ffffff; 
    font-size: 2.5em; 
    font-weight: bold; 
    text-align: center; 
    margin-bottom: 25px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.legenda-imagem {
    color: #ffffff; 
    font-size: 1.2em; 
    text-align: center; 
    margin-top: 25px; 
    line-height: 1.5; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}
.img-box {
    width: 50%;
    height: 100%;
    background-color: #fc5404; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.img-box img{
    width: 70%; 
    height: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-box .form-box{
    margin-bottom: 20px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 450px;
}

.content-box .form-box .ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-box .form-box .ul li{
    list-style: none;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}

.content-box .form-box .ul li:hover{
    background: #e4e4e4;
}
.content-box .form-box h2{
    color: #32324f;
    font-weight: 600;
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}
.content-box .form-box{
    margin-bottom: 20px;
}

.content-box .form-box .input-box input{
    width: 100%;
    padding: 10px;
    outline: none;
    font-weight: 400;
    border:none;
    font-size: 17px;
    color: #32324f;
    background-color: #ecf2f7;
}
.content-box .form-box .input-box span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #32324f;
    font-weight: 400;
}
.content-box .form-box .input-box input[type=submit]{
    background-color: #fc5404;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}
.content-box .form-box .input-box input[type=submit]:hover{
    background: #fc5404;
    border-radius: 10px;
}
.content-box .form-box .input-box,
.content-box .form-box .remember {
    margin-top: 30px;
}
.content-box .form-box .remember a:hover{
    color: #fc5404;
}
.content-box .form-box .input-box p{
    color: #32324f;
}
.content-box .form-box .input-box p a{
    color: #fc5404;
}
.content-box .form-box .input-box p a:hover{
    color: #fc5404;
}